/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: sans-serif;
  padding: 0 20px; }

header {
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: solid 2px #222; }

/* product add view */
.view_title {
  font-size: 36px;
  display: inline; }

.submit_btn {
  float: right; }

.label_align {
  min-width: 75px;
  margin-top: 35px; }

.form_body {
  margin-top: 15px; }

.attribute_desc {
  margin-top: 15px; }

#type_select {
  margin-left: 20px; }

/* end of product add view */
/* product list view */
.product_box {
  border: solid 1px #222;
  width: 250px;
  height: 200px;
  margin-left: 45px;
  margin-top: 30px;
  float: left; }
  .product_box > p {
    text-align: center;
    margin-top: 15px; }
  .product_box > input {
    margin-left: 10px;
    margin-top: 10px; }

.product_list {
  margin-left: -45px; }

.submit_btn {
  height: 31px; }

#list_action_select {
  float: right;
  margin-right: 20px; }

/* end of product list view */

/*# sourceMappingURL=style.css.map */
