@import 'reset';

$border-color: #222;

body {
  font-family: sans-serif;
  padding: 0 20px;
}

header {
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: solid 2px $border-color;
}

/* product add view */
.view_title {
  font-size: 36px;
  display: inline;
}

.submit_btn {
  float: right;
}

.label_align {
  min-width: 75px;
  margin-top: 35px;
}

.form_body {
  margin-top: 15px;
}

.attribute_desc {
  margin-top: 15px;
}

#type_select {
  margin-left: 20px;
}
/* end of product add view */

/* product list view */
.product_box {
  border: solid 1px $border-color;
  width: 250px;
  height: 200px;
  margin-left: 45px;
  margin-top: 30px;
  float: left;
  & > p {
    text-align: center;
    margin-top: 15px;
  }
  & > input {
      margin-left: 10px;
      margin-top: 10px;
  }
}

.product_list {
  margin-left: -45px;
}

.submit_btn {
  height: 31px;
}

#list_action_select {
    float: right;
    margin-right: 20px;
}
/* end of product list view */
